Declaring variables

In [ ]:
Company_Name = "" #String
Destination = "" #String
Package_Pricing = 0 #Integer
Paid = True #Boolean


type(Company_Name)

str

**LIST**

In [ ]:
Companies= ["Jocky Tours", "Axis Africa", "Meektrails", "Unscripted Safaris", "Apodiformes Adventures", "Hyrax Safaris"]
Companies[4]

'Apodiformes Adventures'

In [ ]:
Companies[::2]

['Jocky Tours', 'Meektrails', 'Apodiformes Adventures']

**Adding a company to a list**

In [ ]:
Companies.append("Beacon Safaris")
print(Companies)

['Jocky Tours', 'Axis Africa', 'Meektrails', 'Unscripted Safaris', 'Apodiformes Adventures', 'Hyrax Safaris', 'Beacon Safaris']

**Removing a company from the list**

In [ ]:
Companies.remove("Apodiformes Adventures")
print(Companies)

['Jocky Tours', 'Axis Africa', 'Meektrails', 'Unscripted Safaris', 'Hyrax Safaris', 'Beacon Safaris']

**Tuple** - Keeps items in a fixed order

Cannot be changed after it's created

Allows duplicate values

Can hold different data types like strings, numbers, etc.

In [ ]:
Safari_Tours_Destination = ("masaai mara", "amboseli", "Tsavo", "Karura forest", "giraffe centre")
print(Safari_Tours_Destination)

('masaai mara', 'amboseli', 'Tsavo', 'Karura forest', 'giraffe centre')

In [ ]:
safari_destination = ("masaai mara", "amboseli", "karura forest","tsavo")
print(safari_destination[0:4:3])

('masaai mara', 'tsavo')

In [ ]:
safari_destination = ("masaai mara","amboseli","tsavo")
print(safari_destination[0])

masaai mara

Sets

In [ ]:
Mara_Animals ={"Lion", "elephant", "Rhino", "Buffalo", "Leopard"}
print(Mara_Animals)

{'Buffalo', 'Rhino', 'elephant', 'Leopard', 'Lion'}

In [ ]:
Tsavo_animals =["Buffalo", "Lion", "Rhino", "Elephant","Leopard", "Elephant"]
unique_animals = set(Tsavo_animals)
print(unique_animals) # duplicates removed

{'Elephant', 'Lion', 'Buffalo', 'Leopard', 'Rhino'}

Dictionaries

In [ ]:
Safari_tour_prices ={
"Classic Safari":
        {"duration_days": 5,
        "price_per_person": 1200,
        "locations": ["Serengeti National Park", "Ngorongoro Crater"],
        "group_size": "Small (4-6 people)",
        "accommodation": "Tented Camps",
        "includes": ["Game Drives", "Park Fees", "Meals", "Guide", "Transfers"]
    },
    "Luxury Safari": {
        "duration_days": 7,
        "price_per_person": 2800,
        "locations": ["Masai Mara", "Lake Nakuru", "Amboseli"],
        "group_size": "Private or Couples",
        "accommodation": "Luxury Lodges",
        "includes": ["Private Game Drives", "All Meals", "Champagne Welcome", "Flights between parks", "Professional Photographer"]
    },
    "Adventure Safari": {
        "duration_days": 6,
        "price_per_person": 1500,
        "locations": ["Tarangire", "Lake Manyara", "Serengeti"],
        "group_size": "Medium (6-10 people)",
        "accommodation": "Mix of Lodges and Campsites",
        "includes": ["Game Drives", "Hiking", "Cultural Visits", "Meals", "Camping Gear"]
    },
    "Budget Safari": {
        "duration_days": 4,
        "price_per_person": 800,
        "locations": ["Maasai Mara", "Nairobi National Park"],
        "group_size": "Large (10-20 people)",
        "accommodation": "Budget Campsites",
        "includes": ["Game Drives", "Park Fees", "Basic Meals", "Shared Guide"]}}
print(Safari_tour_prices)

{'Classic Safari': {'duration_days': 5, 'price_per_person': 1200, 'locations': ['Serengeti National Park', 'Ngorongoro Crater'], 'group_size': 'Small (4-6 people)', 'accommodation': 'Tented Camps', 'includes': ['Game Drives', 'Park Fees', 'Meals', 'Guide', 'Transfers']}, 'Luxury Safari': {'duration_days': 7, 'price_per_person': 2800, 'locations': ['Masai Mara', 'Lake Nakuru', 'Amboseli'], 'group_size': 'Private or Couples', 'accommodation': 'Luxury Lodges', 'includes': ['Private Game Drives', 'All Meals', 'Champagne Welcome', 'Flights between parks', 'Professional Photographer']}, 'Adventure Safari': {'duration_days': 6, 'price_per_person': 1500, 'locations': ['Tarangire', 'Lake Manyara', 'Serengeti'], 'group_size': 'Medium (6-10 people)', 'accommodation': 'Mix of Lodges and Campsites', 'includes': ['Game Drives', 'Hiking', 'Cultural Visits', 'Meals', 'Camping Gear']}, 'Budget Safari': {'duration_days': 4, 'price_per_person': 800, 'locations': ['Maasai Mara', 'Nairobi National Park'], 'group_size': 'Large (10-20 people)', 'accommodation': 'Budget Campsites', 'includes': ['Game Drives', 'Park Fees', 'Basic Meals', 'Shared Guide']}}

In [ ]:
Safari_tour_prices["Luxury Safari"]

{'duration_days': 7,
 'price_per_person': 2800,
 'locations': ['Masai Mara', 'Lake Nakuru', 'Amboseli'],
 'group_size': 'Private or Couples',
 'accommodation': 'Luxury Lodges',
 'includes': ['Private Game Drives',
  'All Meals',
  'Champagne Welcome',
  'Flights between parks',
  'Professional Photographer']}

In [ ]:
price= int(input("What is the price of the trip:"))
if price >= 1000:
  print("This tour is affordable.")
else:
  print("This tour is expensive.")

What is the price of the trip:2000
This tour is affordable.

**ASSIGNMENT 2**

**DICTIONARY**

In [ ]:
safari_company = {
    "name": "seven seas",
    "destinations": {"nakuru": 9000, "mara": 5000, "kisumu": 3000},
    "vehicles": ["SUVs", "matatu", "tour van"]
}#safari_compani is a dictionary
print(safari_company['destinations']['nakuru'])

9000

**IF** **STATEMENTS**

In [ ]:
safari_company["destinations"]["nakuru"] #this accesses the value associated with the key "nakuru" within the the dictionary
if safari_company["destinations"]["nakuru"] < 9000: #checks if the price of "nakuru" is less than 90000
                                                       #if the condition is true it is executed
    print("discount available")
elif safari_company["destinations"]["nakuru"] == 8900:#second condition which checks if condition is false
    print("available")
else:
    print("not available")

discount available

**FOR LOOP**

In [ ]:
for destinations, price in safari_company["destinations"].items():
    print(destinations, price)

nakuru 9000
mara 5000
kisumu 3000

**ANOTHER FOR LOOP EXAMPLE**

(A customer is searching for a particular destination that a company offers to host for vacation, this code will search for the destination that the customer wants in order to plan furthermore on the trip.)

In [ ]:
Destinations = ["Nairobi", "Nakuru", "Naivasha", "Mombasa", "Malindi", "Nanyuki", "Maasai Mara"]
DestinationOfChoice = input("Enter your destination of choice:")
index = 0 #Index of the list

for index in Destinations:
  print(index)
  if DestinationOfChoice == index:
    print("Destination found.")
  elif DestinationOfChoice != index:
    print("Destination not found.")

Enter your destination of choice:Nakuru
Nairobi
Destination not found.
Nakuru
Destination found.
Naivasha
Destination not found.
Mombasa
Destination not found.
Malindi
Destination not found.
Nanyuki
Destination not found.
Maasai Mara
Destination not found.

**WHILE** **LOOP**

In [ ]:
max_bookings = 23
bookings = 18
while bookings < max_bookings:
    print(bookings)
    bookings += 1

18
19
20
21
22

**FUNCTIONS**

In [ ]:
def calculate_price(destination, number_of_bookings):#defines  the function calculate_price that takes two arguments destination and number_of_bookings
    price_per_person = safari_company["destinations"].get(destination)
    if price_per_person is not None:#if price_per_person is not none checks if a price was found for the destination
        return price_per_person * number_of_bookings
    else:
        return "Destination not found"

price = calculate_price("kisumu", 13)
print(price)

39000